[server]
user=root
port=3306
lower_case_table_names=1
max_allowed_packet=16777216

[client]
user=root
password="{{ mw.db.pwd }}"

[mysql]
user=root
password="{{ mw.db.pwd }}"

[mysqldump]
user=root
password="{{ mw.db.pwd }}"

[mysqldiff]
user=root
password="{{ mw.db.pwd }}"
